################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Program-engineering
/.vs
/AntiBook/.vs/AntiBook/FileContentIndex
